<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-toastyplugin"
        version="2.0.3-dev">
    <name>ToastyPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/stanidesis/toastyplugin/Toast-PhoneGap-Plugin.git</repo>
    <issue>https://github.com/stanidesis/toastyplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/toastyplugin.js" name="toastyPlugin">
        <clobbers target="window.plugins.toastyPlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ToastyPlugin">
                <param name="ios-package" value="CDVToastyPlugin"/>
                    <param name="onload" value="true" />
            </feature>
        </config-file>
            <header-file src="src/ios/ToastyPlugin.h" />
            <source-file src="src/ios/ToastyPlugin.m" />

    </platform>
</plugin>
